<div class="kontakt">
    <h1>Kontakt</h1>
  
    <h2>I. Adresse</h2>
    <p>
        <strong>DHBW Heidenheim</strong><br>
        Marienstraße 20<br>
        89518 Heidenheim an der Brenz<br>
    </p>
  
    <h2>II. Ansprechpartner</h2>
    <p>
      <strong>Niels Haase</strong> —
      <a href="mailto:haasen.tin24&#64;student.dhbw-heidenheim.de">&nbsp;haasen.tin24&#64;student.dhbw-heidenheim.de</a>,
      <br><strong>Julian Kaiser</strong> —
      <a href="mailto:kaiserj.tin24&#64;student.dhbw-heidenheim.de">&nbsp;kaiserj.tin24&#64;student.dhbw-heidenheim.de</a>,
      <br><strong>Chantal Kinzelmann</strong> —
      <a href="mailto:kinzelmannc.tin24&#64;student.dhbw-heidenheim.de">&nbsp;kinzelmannc.tin24&#64;student.dhbw-heidenheim.de</a>,
      <br><strong>Timoteo Zorn</strong> —
      <a href="mailto:zornt.tin24&#64;student.dhbw-heidenheim.de">&nbsp;zornt.tin24&#64;student.dhbw-heidenheim.de</a>
    </p>
  </div>