
<div class="profile-header">
  <img class="profile-pic" *ngIf="user?.userImgUrl" [src]="user.userImgUrl" alt="Profilbild">
  <img class="profile-pic" *ngIf="user && !user.userImgUrl" src="https://media.istockphoto.com/id/1337144146/de/vektor/standard-avatar-profilsymbolvektor.jpg?s=612x612&w=0&k=20&c=rw3jpsQAdTti6Hh9SAGN15Ex8HYYwmHv3JFHS6KStMo=" >
  <div class="profile-info">
    <h2>Willkommen, {{ user.username }}!</h2>
    <p>{{ user.profileText}}</p>
    <div class="profile-actions">
      <button class="edit-profile" routerLink="/edit-profile">Profil bearbeiten</button>
      <button class="new-recipe" routerLink="/new-recipe">
        <i class="fa-solid fa-plus"></i> Neues Rezept    
      </button>
      
    </div>
   
  </div>
</div>
<!-- Einbinden der Navigations-Komponente -->
<app-profile-navigation (selectedCategory)="changeCategory($event)"></app-profile-navigation>

<!-- Dynamischer Bereich für Inhalte -->
<div *ngIf="activeCategory === 'rezepte'">
  <h3>Meine Rezepte</h3>
    <app-my-recipes></app-my-recipes> 
</div>

<div *ngIf="activeCategory === 'favoriten'">
  <h3>Meine Favoriten</h3>
  <div class="card-container">
    <app-my-favorites></app-my-favorites>
  </div>
</div>

<div *ngIf="activeCategory === 'merkliste'">
  <h3>Merkliste</h3>
  <div class="card-container">
    <app-my-watch-list></app-my-watch-list>
  </div>
</div>
