@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cbddd1;
    text-align: center;
    color: #272727;
}

.container {
    width: 500px;
    background-color: #7d9b76;
    padding: 20px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}

.left {
    width: 45%;
    margin-left: 10px;
}

.right {
    margin-left: 50px;
    width: 100%;
    text-align: left;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #272727;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f9f7dc;
    font-family: 'Montserrat', sans-serif;
    color: #272727;

    &:focus {
        outline: 2px solid #ff7b00;
    }
}

button {
    width: 30%;
    padding: 10px;
    background-color: #ff7b00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #cd6301;
    }
}

.register-link {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}