
    <div class="login-container">     
        <h2>Anmelden</h2>
        <form>
            <input class="input-anmeldung-regestrierung" type="email" placeholder="Mail" required>
            <input class="input-anmeldung-regestrierung" type="password" placeholder="Passwort" required>
            
        </form>
        <div class="bottom">
            <div class="left">
                <p routerLink="/register" class="register-link">Noch kein Konto?<br>Jetzt registrieren!</p>
            </div>
            <div class="middle">
                <button type="submit">Anmelden</button>
            </div>
            <div class="right">
                <p routerLink="/password-reset" class="register-link">Passwort vergessen?</p>
            </div>
        </div>
    </div>