<div class="container-register">
    <h2>Passwort zurücksetzen</h2>
    <form (ngSubmit)="resetPassword()">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Mail" required>
        <button type="submit">E-Mail senden</button>
    </form>
    <div class="bottom">
        <div class="left">
            <p class="login-link" routerLink="/login">Bereits ein Konto? <br>Hier Anmelden!</p>
        </div>
    </div>
    <div class="kleingeschriebenes">
        <p>Ihnen wird eine E-Mail mit einem neuen Passwort zugesendet. Ändern Sie Ihr Passwort nach erneutem Anmelden selbstständig.</p>
    </div>
</div>