<div class="container-register">
        
    <h2>Passwort zurücksetzen</h2>
    <form>
        <input type="email" placeholder="Mail" required>
    </form>
    <div class="bottom">
        <div class="left">
            
            <p class="login-link"routerLink="/login">Bereits ein Konto? <br>Hier Anmenden!</p>
        </div>
        <div class="right">
            <button type="submit">E-Mail senden</button>
        </div>
    </div>
    
    <div class="kleingeschriebenes">
        <p>Ihnen wird eine E-Mail mit einem neuen Passwort zugesendet. Ändern Sie Ihr Passwort nach erneutem anmelden selbständig.</p>
    </div>
    
    
</div>