/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fdfdf9;
  color: #272727;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

button {
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;

  &:hover {
    background-color: #cd6301;
}

}
