

        .footer {
            background-color: #ccc;
            color: #333;
            padding: 20px 0;
            text-align: center;
            font-size: 14px;
            width: 100%;
        }

        .footer a {
            color: #333;
            text-decoration: none;
            margin: 0 10px;
        }

        .footer a:hover {
            text-decoration: underline;
        }