

        .footer {
            background-color: #ccc;
            color: #333;
            padding: 20px;
            text-align: center;
            font-size: 14px;

        }

        .footer a {
            color: #333;
            text-decoration: none;
            margin: 0 10px;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .footer-content {
            max-width: 800px;
            margin: auto;
        }
