/* Container für zentrierte Ausrichtung */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Vollbildhöhe */
    position: relative; /* Position für den Drehen-Button */
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Abstand zwischen den Karten */
    width: 100%; /* Grid auf 100% Breite setzen */
    max-width: 1050px; /* Maximale Breite des Grids */
    height: 100%;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px; /* Minimumbreite, um die Karte korrekt anzuzeigen */
    min-height: 600px; /* Mindesthöhe für die Karte */
    border-radius: 8px;
    background-color: #f0f0f0;
  }
  
  .rotate-button {
    position: absolute; /* Position auf der rechten Seite */
    right: 20px; /* Abstand vom rechten Rand */
    bottom: 20px; /* Abstand vom unteren Rand */
    padding: 20px;
    border-radius: 50%; /* Button rund */
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100px; /* Buttongröße */
    height: 100px; /* Buttongröße */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }