<div class="container-register">
        
    <h2>Profil bearbeiten</h2>
    <form>
        <p>Lade hier dein Profilbild hoch:</p>
        <input type="file" id="file-upload" accept=".png .jpg .jpeg">
        <input type="user" placeholder="Benutzername">
        <textarea placeholder="Profilbeschreibung" rows="4" cols="50" style="resize: none;"></textarea>
        <input type="email" placeholder="Mail">
        <input type="password" placeholder="Altes Passwort" required>
        <input type="password" placeholder="Neues Passwort">
        <input type="password" placeholder="neues Passwort wiederholen">
        
    </form>
    <div class="bottom">
        <div class="center">
            <button type="submit">Änderungen speichern</button>
        </div>
    </div>
</div>