<form #recipeForm="ngForm" (ngSubmit)="createRecipe(recipeForm)" enctype="multipart/form-data">

    <!-- Rezeptname -->
    <h3>Rezeptname</h3>
    <input type="text" id="title" name="title" required [(ngModel)]="recipe.title">
  
    <!-- Beschreibung -->
    <h3>Kurzbeschreibung</h3>
    <textarea id="description" name="description" required [(ngModel)]="recipe.description"></textarea>
  
    <!-- Bild Upload -->
    <label>Rezeptbild hochladen:</label>
    <input type="file" (change)="onFileSelected($event)" accept=".png,.jpg,.jpeg" name="recipeImage">
  
    <!-- Schwierigkeit -->
    <h3>Schwierigkeitsgrad</h3>
    <select name="difficulty" required [(ngModel)]="recipe.difficulty">
      <option value="easy">Einfach</option>
      <option value="medium">Mittel</option>
      <option value="hard">Schwer</option>
    </select>
  
    <!-- Koch- & Vorbereitungszeit -->
    <div class="cook-container">
        <div>
          <h3>Vorbereitungszeit (Minuten)</h3>
          <input type="number" name="prepTime" required [(ngModel)]="recipe.prepTime"
                 min="0" step="1" pattern="\d*" (keypress)="validateNumberInput($event)">
        </div>
        <div>
          <h3>Kochzeit (Minuten)</h3>
          <input type="number" name="cookTime" required [(ngModel)]="recipe.cookTime"
                 min="0" step="1" pattern="\d*" (keypress)="validateNumberInput($event)">
        </div>
      </div>
      
  
    <!-- Zutaten -->
<h3>Zutaten</h3>
<div  *ngFor="let ingredient of recipe.ingredients; let i = index" class="ingredient-container">
  <input type="text" placeholder="Zutat" name="ingredient{{i}}" [(ngModel)]="ingredient.name" required>
  <input type="number" placeholder="Menge" name="amount{{i}}" [(ngModel)]="ingredient.amount" (keypress)="validateNumberInput($event)" required>
  <select name="unit{{i}}" [(ngModel)]="ingredient.unit">
    <option value="g">g</option>
    <option value="kg">kg</option>
    <option value="ml">ml</option>
    <option value="l">l</option>
    <option value="tbsp">EL</option>
    <option value="tsp">TL</option>
    <option value="cup">Tasse</option>
    <option value="piece">Stück</option>
  </select>
  <button type="button" (click)="removeIngredient(i)"><i class="fa-solid fa-trash"></i></button>
</div>
<button type="button" class="add-btn" (click)="addIngredient()">Weitere Zutat hinzufügen</button>

    <!-- Tags -->
    <h3>Tags</h3>
    <div class="tag-container">
      <input type="text" name="newTag" [(ngModel)]="newTag" placeholder="Tag hinzufügen">
      <button type="button" class="add-btn" (click)="addTag()">Hinzufügen</button>
    </div>
    <div class="tag-container">
        <mat-chip class="tags"*ngFor="let tag of recipe.tags" class="tag">{{ tag }}</mat-chip>
    </div>
  
    <!-- Rezeptanleitung -->
    <h3>Zubereitung</h3>
    <textarea name="text" required [(ngModel)]="recipe.text"></textarea>
  
    <!-- Absenden -->
    <button type="submit" [disabled]="recipeForm.invalid">Rezept erstellen</button>
  </form>
  