<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezeptkarte</title>
   
</head>
<body>
    <div class="card">
        <div class="card-header">
            <!-- Der weiße Punkt wurde entfernt -->
        </div>
        <div class="card-content">
            <div class="title">Rezept</div>
            <div class="description">
                
            </div>
        </div>
    </div>
</body>
</html>
