<mat-card class="example-card" appearance="outlined">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    class="thumbnail"
  />
  <mat-card-header>
    <mat-card-title>{{ recipe.title }}</mat-card-title>
    <mat-card-subtitle>{{ recipe.id }}</mat-card-subtitle>
  </mat-card-header>

  <div class="rating-container">
    <i
      class="material-icons"
      style="color: #ff7b00"
      *ngFor="let star of [1, 2, 3, 4, 5]"
    >
      {{ star <= currentRating ? "star" : "star_border" }}
    </i>
  </div>

  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-footer class="example-card-footer">
    <mat-chip-set aria-label="Chihuahua traits">
      <mat-chip>high protein</mat-chip>
      <mat-chip>low carb</mat-chip>
      <mat-chip>low fat</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
  <mat-card-actions>
    <button mat-button>Show More ></button>
  </mat-card-actions>
</mat-card>
