.example-card {
    width: 350px;
    max-height: 600px;
    margin: 1rem;
    border-radius: 20px;
    border-width: 3px;
    border-color: #44803fc6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail {
    height: 250px;
}

.example-card-footer {
    padding: 16px;
}

.rating-container {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
}