/* Suchleiste responsive */
.search-bar {
  align-items: center;
  width: 80%;
  background-color: #e0e0e0;
  padding: 2px 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  height: 1.52rem;

}

.search-bar input {
  flex-grow: 1;
  background: transparent;
  border: none;
  width: 600px;
  outline: none;
  font-size: 16px;
}

/* ✅ Responsives Design */
@media (max-width: 768px) {
  .search-bar-container {
    max-width: 100%; /* Auf Mobilgeräten mehr Platz nutzen */
    margin: 0 10px;
  } }