.search-bar {
    display: flex;
    align-items: center;
    width: 60rem; // Adjust width as needed
    background-color: #e0e0e0; // Light gray background like in the mockup
    padding: 8px 16px;
    border-radius: 15px; // Slightly rounded corners
    transition: background-color 0.3s ease;
    height:1.52rem;
  
    input{
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
      font-size: 18;
      
    }
  
    &:focus-within {
      background-color: #d6d6d6; // Slightly darker on focus
    }
  }
  