<div class="homepage">
  <header class="homepage-header">
    <h1>Willkommen bei Dishcovery</h1>
    <p>Finde Rezepte für jede Gelegenheit</p>
  </header>
</div>

@if (recipesByTag$ | async; as recipesByTag) { @for (tag of (allTags$ | async);
track tag) { @if (recipesByTag[tag] && recipesByTag[tag].length > 0) {
<section class="tag-section">
  <h2>{{ tag }} Recipes</h2>
  <div class="recipe-container">
    @for (recipe of recipesByTag[tag]; track recipe.id) {
    <app-small-recipe-card [recipe]="recipe"></app-small-recipe-card>
    }
  </div>
</section>
} } } @else {
<p>No recipes found.</p>
}
