    <div class="container-register">
        
        <h2>Registrieren</h2>
        <form>
            <input type="username" placeholder="Benutername" required>
            <input type="email" placeholder="Mail" required>
            <input type="password" placeholder="Passwort" required>
            <input type="password" placeholder="Passwort wiederholen" required>
            
        </form>
        <div class="bottom">
            <div class="left">
                
                <p class="login-link"routerLink="/login">Bereits ein Konto? <br>Hier Anmenden!</p>
            </div>
            <div class="right">
                <button type="submit">Jetzt registrieren</button>
            </div>
        </div>
        
        <div class="kleingeschriebenes">
            <p>*Hier steht kleingeschriebenes! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT! ganz Viel TEXT!</p>
        </div>
        
        
    </div>