<div class="container-register">
    <h2>Registrieren</h2>

    <form #registerForm="ngForm">
        <div class="input-container">
            <input [(ngModel)]="username" name="username" type="text" placeholder="Benutzername" required #usernameRef="ngModel">
            <p class="error" *ngIf="usernameRef.invalid && usernameRef.touched">Benutzername ist erforderlich.</p>

            <input [(ngModel)]="email" name="email" type="email" placeholder="Mail" required email #emailRef="ngModel">
            <p class="error" *ngIf="emailRef.invalid && emailRef.touched">
                Bitte eine gültige E-Mail eingeben.
            </p>
            

            <input [(ngModel)]="password" name="password" type="password" placeholder="Passwort" required minlength="6" #passwordRef="ngModel" autocomplete="off" [ngClass]="{'empty-field': !password}">
            <p class="error" *ngIf="passwordRef.invalid && passwordRef.touched">
                Passwort muss mindestens 6 Zeichen lang sein.
            </p>

            <input [(ngModel)]="passwordRepeat" name="passwordRepeat" type="password" placeholder="Passwort wiederholen" required #passwordRepeatRef="ngModel">
            <p class="error" *ngIf="passwordRepeatRef.invalid && passwordRepeatRef.touched">
                Bitte Passwort bestätigen.
            </p>
        </div>

        
        
        <div class="bottom">
            <div class="left">
                <p routerLink="/login" class="login-link">Bereits ein Konto?<br>Hier anmelden!</p>
            </div>
            <div class="middle">
                <button (click)="register()" [disabled]="registerForm.invalid">Jetzt registrieren</button>
            </div>
            <div class="right">
                <p></p>
            </div>
        </div>
    </form>

    <div class="kleingeschriebenes">
        <p>*Mit der Registrierung akzeptieren Sie die Datenschutzerklärung und die AGBs</p>
    </div>
</div>
