.navbar {
    display: flex;
    justify-content: center; /* Zentriert die gesamte Navbar */
    align-items: center;
    background-color: #44803fc6;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Macht die Navbar kleiner */
    margin: 0 auto; /* Zentriert die Navbar */
  }
  
  .navbar-links {
    display: flex;
    flex: 1; /* Lässt die Links den gesamten verfügbaren Platz nutzen */
    justify-content: space-between; /* Verteilt die Punkte gleichmäßig */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    flex: 1; /* Jeder Punkt bekommt gleich viel Platz */
    text-align: center; /* Zentriert den Text in jedem Link */
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;

    display: block; /* Macht die gesamte Fläche klickbar */
  }
  
  .navbar-links a:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .navbar-links a.active {
    background: white;
    color: #44803fc6;
  }
  