<div class="tags-container">
  <h2>Filter by tags</h2>
  <mat-chip-listbox selectable multiple>
    @for (tag of (allTags$ | async); track tag) {
    <mat-chip-option
      [selected]="(selectedTags$ | async)?.includes(tag)"
      (click)="toggleTag(tag)"
    >
      {{ tag }}
    </mat-chip-option>
    }
    <mat-chip (click)="clearTags()">Clear All</mat-chip>
  </mat-chip-listbox>
</div>

<!-- Display filtered recipes -->
<div class="recipe-container">
  @for (recipe of (filteredRecipes$ | async); track recipe.id) {
  <app-small-recipe-card [recipe]="recipe"></app-small-recipe-card>
  }
</div>

<!-- Show message if no recipes match -->
@if (!(filteredRecipes$ | async)?.length) {
<p>No recipes match the selected tags.</p>
}
