.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.clear-tags-chip {
    &:hover {
      background-color: #ff7b00;
    }
}